.container {
   display: flex;
   flex-direction:row;
   margin-left: 60px;  
 }
    body {
      background-image: url("https://drive.google.com/uc?export=view&id=13GaV3JESW7I_-nrUlJioLLotJB3t_bdV");
      background-color: #cccccc;
      width: 600px;
      display: 96px;
      margin-right: 63px;
     
      background-repeat: no-repeat;
      height: 950px;  
       background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
     } 
